@font-face {
	font-family: "Druk Cyr";
	src: url("../fonts/DrukCyr-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Druk Cyr";
	src: url("../fonts/DrukCyr-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Stolzl";
	src: url("../fonts/Stolzl-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Stolzl";
	src: url("../fonts/Stolzl-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Stolzl";
	src: url("../fonts/Stolzl-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
