.main-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	&__inner {
		padding: 4.305555555555555vw 0;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__text-box {
		width: 100%;
		max-width: 39.9%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__logo {
		margin-bottom: 8.88888888888889vw;
	}

	&__info-text {
		margin-bottom: 0.8333333333333334vw;
		font-size: 1.25vw;
		line-height: 1.2;
		color: #636363;
		&:nth-child(4) {
			align-self: flex-end;
			margin-bottom: 9.375vw;
		}
	}
	&__text {
		align-self: center;
		font-size: 1.25vw;
		line-height: 1.67;
		color: #5e5e5e;
		text-align: center;
		margin-bottom: 1.3888888888888888vw;
		max-width: 62.42%;
	}
	&__icons {
		display: flex;
		align-items: center;
		justify-content: center;
		align-self: center;
	}
	&__icon {
		margin-right: 1.1111111111111112vw;

		&:nth-last-child(1) {
			margin-right: 0;
		}
	}

	&__video-text {
		margin-bottom: 1.3888888888888888vw;
	}

	&__video-box {
		width: 100%;
		max-width: 45.16%;
	}

	&__video {
	}
}
.logo {
	max-width: 5.625vw;
}
.video-text {
	width: 100%;
	height: 9.722222222222223vw;

	position: relative;

	&::after {
		content: "";
		position: absolute;
		width: 110%;
		height: 100%;
		left: 50%;
		top: 57%;
		transform: translate(-50%, -50%);
		background: url("../img/line--main.svg") no-repeat;
		background-size: contain;
		background-position: center center;
		z-index: 10;
	}
	&__inner {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
	}
	&__video {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__text {
		width: 101%;
		height: 101%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: #fff;
		font-family: "Druk Cyr";
		font-weight: 700;
		font-size: 9.722222222222223vw;
		line-height: 9.722222222222223vw;
		letter-spacing: 0.08em;
		color: #000;
		text-transform: uppercase;
		text-align: center;
		mix-blend-mode: screen;
	}
}

.content {
	&__inner {
		padding: 7.152777777777778vw 0;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__heading-box {
		width: 100%;
		max-width: 39.9%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__heading {
		max-width: 19.72222222222222vw;
		margin-bottom: 3.194444444444444vw;
		position: relative;
		z-index: 2;

		&::after {
			content: "";
			position: absolute;
			right: -1.3888888888888888vw;
			bottom: -2.2916666666666665vw;
			width: 7.916666666666666vw;
			height: 10.416666666666668vw;
			background: url("../img/leaf--content.png") no-repeat;
			background-position: center center;
			background-size: contain;
			z-index: 3;
		}
		&::before {
			content: "";
			position: absolute;
			width: 110%;
			height: 100%;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			background: url("../img/line--content.svg") no-repeat;
			background-position: center center;
			background-size: contain;
			z-index: -1;
		}
	}

	&__button {
	}

	&__list-box {
		width: 100%;
		max-width: 45.16%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 2.5vw;
	}

	&__list-item {
		position: relative;
		padding-left: 3.958333333333333vw;
		font-size: 1.25vw;
		line-height: 1.67;
		margin-bottom: 2.569444444444444vw;
		&:nth-last-child(1) {
			margin-bottom: 0;
		}

		&::before {
			content: "";
			position: absolute;
			width: 2.2222222222222223vw;
			height: 0.4166666667vw;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			background: url("../img/line--list.svg") no-repeat;
			background-position: center center;
			background-size: contain;
		}
	}
}
.heading {
	font-family: "Druk Cyr";
	font-weight: 400;
	font-size: 4.861111111111112vw;
	line-height: 1.269;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-align: center;
}
.button {
	font-weight: 500;
	font-size: 1.0416666666666665vw;
	line-height: 1.2;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #fff;
	background: #295941;
	border-radius: 0.1388888888888889vw;
	border: 0.06944444444444445vw solid transparent;
	transition: background 350ms ease-in-out, color 350ms ease-in-out, border 350ms ease-in-out;
	padding: 1.6666666666666667vw 2.2222222222222223vw;
	white-space: nowrap;

	&:hover {
		background: #fff;
		border: 0.06944444444444445vw solid #295941;
		color: #295941;
	}
}
.diary {
	&__inner {
		padding: 7.152777777777778vw 0 6.944444444444445vw 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__img-box {
		width: 100%;
		max-width: 39.9%;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			width: 83.03%;
			height: 93.91%;
			top: 1.4583333333333333vw;
			left: 2.569444444444444vw;
			background: rgba(0, 0, 0, 0.3);
			filter: blur(2.8472222222222223vw);
			z-index: -1;
		}
	}

	&__img {
		position: relative;
		left: 2.569444444444444vw;
		width: 80.4%;
	}

	&__text-box {
		width: 100%;
		max-width: 45.16%;
	}

	&__heading {
		position: relative;
		display: inline-block;
		margin-bottom: 3.3333333333333335vw;

		&::after {
			content: "";
			position: absolute;
			bottom: -1.3194444444444444vw;
			right: -6.527777777777779vw;
			width: 10.48611111111111vw;
			height: 11.944444444444445vw;
			background: url("../img/leaf--diary.png") no-repeat;
			background-position: center center;
			background-size: contain;
		}
	}

	&__text {
		max-width: 62.5%;
		font-size: 1.1111111111111112vw;
		line-height: 1.75;
		letter-spacing: 0.05em;
	}
}
.go {
	&__inner {
		padding: 6.944444444444445vw 0 13.88888888888889vw 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}

	&__top {
		margin-bottom: 0.8333333333333334vw;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__top-text {
		font-size: 1.25vw;
		line-height: 1.2222;
		color: #636363;

		margin-right: 5vw;
		&:nth-last-child(1) {
			margin-right: 0;
		}
	}

	&__heading {
		font-family: "Druk Cyr";
		font-weight: 700;
		font-size: 9.722222222222223vw;
		line-height: 1;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		background: url("../img/go-bg.png") no-repeat;
		background-position: center center;
		background-size: 100% 100%;
		background-clip: text;
		color: transparent;
		margin-bottom: 4.791666666666667vw;
		position: relative;
		text-align: center;

		&::after {
			content: "";
			position: absolute;
			left: 50%;
			bottom: -2.7083333333333335vw;
			transform: translateX(-50%);
			height: 0.06944444444444445vw;
			width: 8.958333333333334vw;
			background: #e8e8e8;
		}
	}

	&__text {
		font-size: 0.9722222222222222vw;
		line-height: 1.2;
		color: #636363;
		text-align: center;
		margin-bottom: 0.7638888888888888vw;
	}

	&__subheading {
		text-align: center;
		font-family: "Druk Cyr";
		font-weight: 400;
		font-size: 3.4722222222222223vw;
		line-height: 1.26;
		letter-spacing: 0.08em;
		margin-bottom: 2.8472222222222223vw;
		text-transform: uppercase;
	}

	&__button {
	}
}
.modal-form {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	min-height: 100vh;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 300ms ease-in-out;
	opacity: 0;
	z-index: 1000;
	visibility: hidden;
	&--open {
		visibility: visible;
		opacity: 1;
	}
	&--close {
		opacity: 0;
	}
	&__bg {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background: #0005;
	}
	&__content-box {
		width: 100%;
		max-width: 51.80555555555556vw;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: #fff;
		padding: 3.888888888888889vw 1.3888888888888888vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		max-height: 95vh;
		overflow-y: scroll;
		overflow-x: hidden;
		-ms-overflow-style: none;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	&__close-button {
		position: fixed;
		top: 1.3888888888888888vw;
		right: 1.3888888888888888vw;
		width: 2.430555555555556vw;
		height: 2.430555555555556vw;
		cursor: pointer;
		z-index: 10001;
	}
	&__close-button-inner {
		position: relative;
		width: 2.430555555555556vw;
		height: 2.430555555555556vw;
	}
	&__close-button-item {
		width: 100%;
		height: 0.1388888888888889vw;
		background: #c0c0c0;
		position: absolute;
		top: 50%;
		left: 50%;

		&:nth-child(1) {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:nth-child(2) {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
	&__heading {
		font-family: "Druk Cyr";
		position: relative;
		font-size: 3.6111111111111107vw;
		line-height: 1.2692;
		margin-bottom: 0.6944444444444444vw;
		max-width: 44.02777777777778vw;

		&::before{
			content: '';
			position: absolute;
			top: 1.7361111111111112vw;
			left: 50%;
			transform: translate(-50%, 0);
			width: 36.736111111111114vw;
			height: 7.5vw;
			background: url('../img/form-heading-decor.svg') no-repeat;
			background-position: center center;
			background-size: contain;
			z-index: -1;
		}
	}

	&__subheading {
		font-family: "Druk Cyr";
		font-size: 2.2222222222222223vw;
		line-height: 1.2692;
		letter-spacing: 0.05em;
		max-width: 44.02777777777778vw;
		margin-bottom: 2.2222222222222223vw;
	}

	&__text {
		font-size: 1.1111111111111112vw;
		line-height: 1.6875;
		color: #5e5e5e;
		margin-bottom: 1.25vw;
	}

	&__decor {
		max-width: 7.916666666666666vw;
		margin-bottom: 2.8472222222222223vw;
	}

	&__form {
		width: 100%;
		max-width: 23.055555555555557vw;
	}
}

.music-button {
	position: fixed;
	top: 2.7777777777777777vw;
	right: 2.7777777777777777vw;
	z-index: 50;
	&--active {
		.music-button__item {
			&:nth-child(1) {
				animation: audioButtonItem 0.3s alternate infinite;
			}
			&:nth-child(2) {
				animation: audioButtonItem 0.4s alternate infinite;
			}
			&:nth-child(3) {
				animation: audioButtonItem 0.38s alternate infinite;
			}
			&:nth-child(4) {
				animation: audioButtonItem 0.34s alternate infinite;
			}
			&:nth-child(5) {
				animation: audioButtonItem 0.44s alternate infinite;
			}
			&:nth-child(6) {
				animation: audioButtonItem 0.48s alternate infinite;
			}
		}
	}
	&__content {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		min-height: 1.0416666666666665vw;
	}

	&__item {
		width: 0.1388888888888889vw;
		height: 0.4166666666666667vw;
		background: #313131;
		margin-right: 0.06944444444444445vw;

		&:nth-child(2) {
			height: 0.5555555555555556vw;
		}
		&:nth-child(4) {
			height: 0.4861111111111111vw;
		}
		&:nth-child(5) {
			height: 0.9027777777777777vw;
		}
		&:nth-last-child(1) {
			margin-right: 0;
		}
	}
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__label-box {
		width: 100%;
		border: 0.06944444444444445vw solid #c0c0c0;
		border-radius: 0.1388888888888889vw;
		margin-bottom: 1.7361111111111112vw;
		padding: 1.25vw;
		position: relative;
		display: flex;
		align-items: center;
	}

	&__label-name {
		position: absolute;
		left: 0;
		top: 0;
		transform: translate(0.9722222222222222vw, -50%);
		background: #fff;
		padding: 0 0.2777777777777778vw;
		font-size: 0.8333333333333334vw;
		line-height: 1.5;
		color: #c9c9c9;
		letter-spacing: 0.05em;
	}

	&__input {
		width: 100%;
		color: #5d5d5d;
		letter-spacing: 0.05em;
		font-size: 1.0416666666666665vw;
		line-height: 1.2;
		&::placeholder {
			color: #c9c9c9;
		}
	}

	&__custom-select {
		margin-right: 0.5555555555555556vw;
	}

	&__button {
		margin-top: 1.0416666666666665vw;
	}
}

.custom-select {
	display: flex;
	align-items: center;
	&__select {
		margin-right: 1.1111111111111112vw;
		position: relative;
	}

	&__head {
		display: inline-block;
		padding-right: 0.6944444444444444vw;
		position: relative;
		cursor: pointer;
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
			width: 0.4166666666666667vw;
			height: 0.2777777777777778vw;
			background: url("../img/lang/arrow.svg") no-repeat;
			background-position: center center;
			background-size: contain;
			transition: transform 250ms ease;
		}

		&--active{
			&::after{
				transform: translate(0, -50%) rotate(180deg);
			}
		}
	}

	&__item {
		cursor: pointer;
	}

	&__img {
		display: inline-block;
		width: 1.5277777777777777vw;
		height: 1.1111111111111112vw;
		filter: drop-shadow(0vw 0vw 0.1388888888888889vw rgba(0, 0, 0, 0.15));
		border-radius: 0.1388888888888889vw;
	}

	&__body {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: absolute;
		bottom: 150%;
		left: -0.6944444444444444vw;
		background: #fff;
		padding: 0.6944444444444444vw;
		border-radius: 0.1388888888888889vw;
		border: 0.06944444444444445vw solid #c0c0c0;
		.custom-select__item {
			margin-bottom: 0.3472222222222222vw;
			&:last-child {
				margin-bottom: 0;
			}
		}
		transition: transform 250ms ease;
		transform-origin: center bottom;
		transform: scale(0);

		&--active{
			transform: scale(1);
		}
	}

	&__shortcode {
		max-width: 2.8472222222222223vw;
		letter-spacing: 0.05em;
		color: #5d5d5d;
		font-size: 1.0416666666666665vw;
		line-height: 1.2;
	}
}

@keyframes audioButtonItem {
	0% {
		height: 0.4166666666666667vw;
	}
	100% {
		height: 0.9722222222222222vw;
	}
}
