@media (max-width: 767px) {
	.main-screen {
		&__inner {
		}

		&__text-box {
		}

		&__logo {
			margin-bottom: 19px;
		}

		&__info-text {
			font-size: 16px;
			margin-bottom: 0;
			transform: translateY(11px);
			z-index: 10;
			&:nth-child(4){
				transform: translateY(-18px);
				margin-bottom: 31px;
			}
		}
		&__text{
			max-width: 100%;
		}
		&__video-text {
			margin-bottom: 0;
		}

		&__video-box {
		}

		&__video {
		}
	}
	.logo {
		max-width: 58px;
	}
	.video-text {
		&::after{
			top: 49%;
			width: 106%;
		}
		&__video {
		}

		&__text {
			font-size: 95px;
		}
	}
	.content {
		margin-bottom: 98px;
		&__inner {
			padding: 80px 0 36px 0;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			position: relative;
		}

		&__heading-box {
			max-width: 100%;
		}

		&__heading {
			max-width: 162px;
			margin-bottom: 42px;
			&::after {
				right: -28px;
				bottom: -20px;
				width: 80px;
				height: 95px;
			}
		}

		&__button {
			position: absolute;
			left: 50%;
			bottom: -63px;
			transform: translateX(-50%);
		}

		&__list-box {
			max-width: 100%;
			margin-top: 0;
		}

		&__list-item {
			padding-left: 32px;
			margin-bottom: 24px;
			max-width: 315px;
			&::before {
				width: 23px;
			}
		}
	}
	.diary {
		overflow: hidden;
		&__inner {
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			padding: 36px 9px;
		}
		&__img-box {
			max-width: 100%;
			margin-bottom: 63px;
			display: flex;
			justify-content: center;
			align-items: center;

			&::after{
				width: 91.64%;
				left: auto;
				right: 0;
				filter: blur(17px);
			}
		}
		&__img{
			width: 100%;
			left: 0;
		}
		&__text-box {
			max-width: 100%;
		}
		&__heading {
			margin-bottom: 24px;
			&::after {
				bottom: -14px;
				right: -54px;
				width: 80px;
				height: 100px;
			}
		}
		&__text {
			max-width: 100%;
			font-size: 14px;
			line-height: 1.8671;
		}
	}
	.heading {
		font-size: 40px;
	}
	.button {
		padding: 20px 32px;
	}
	.go {
		&__inner {
			padding: 36px 0 72px 0;
		}

		&__top {
			margin-bottom: 9px;
		}

		&__top-text {
		}

		&__heading {
			font-size: 95px;
			margin-bottom: 54px;
			&::after {
				bottom: -28px;
			}
		}

		&__text {
			margin-bottom: 6px;
		}

		&__subheading {
			font-size: 48px;
			margin-bottom: 36px;
		}

		&__button {
		}
	}
	.modal-form {
		&__bg {
		}

		&__content-box {
			padding: 24px 20px 8px 20px;
			max-height: 100%;
			top: auto;
			bottom: 0;
			transform: translate(-50%, 0);
			overflow-y: hidden;
		}
		&__heading{
			font-size: 32px;
			margin-bottom: 2px;
			&::before{
				top: 5px;
				width: 299px;
				height: 62px;
			}
		}
		&__subheading{
			font-size: 20px;
			margin-bottom: 15px;
		}
		&__decor{
			max-width: 68px;
			margin-bottom: 15px;
		}
		&__text{
			font-size: 14px;
			margin-bottom: 16px;
			text-align: center;
			max-width: 240px;
		}
	}
	.form{
		&__label-box{
			margin-bottom: 22px;
		}
		&__button{
			margin-top: 7px;
		}
	}
}
