@media (max-width: 1440px) {
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		-webkit-tap-highlight-color: transparent;
	}
	body {
		font-family: "Stolzl";
		font-weight: 300;
		color: #000;
	}

	button,
	input,
	a,
	ul,
	li,
	ol {
		border: none;
		color: inherit;
		background-color: transparent;
		list-style-type: none;
		text-decoration: none;
	}

	button {
		cursor: pointer;
	}

	img,
	video {
		width: 100%;
		height: auto;
	}

	.container {
		margin: 0 auto;
		max-width: 1260px;
		padding: 0 10px;
	}

	.main-screen {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		&__inner {
			padding: 62px 0;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
		}

		&__text-box {
			width: 100%;
			max-width: 39.9%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}

		&__logo {
			margin-bottom: 128px;
		}

		&__info-text {
			margin-bottom: 12px;
			font-size: 18px;
			line-height: 1.2;
			color: #636363;
			&:nth-child(4) {
				align-self: flex-end;
				margin-bottom: 135px;
			}
		}
		&__text {
			align-self: center;
			font-size: 18px;
			line-height: 1.67;
			color: #5e5e5e;
			text-align: center;
			margin-bottom: 20px;
			max-width: 62.42%;
		}
		&__icons {
			display: flex;
			align-items: center;
			justify-content: center;
			align-self: center;
		}
		&__icon {
			margin-right: 16px;

			&:nth-last-child(1) {
				margin-right: 0;
			}
		}

		&__video-text {
			margin-bottom: 20px;
		}

		&__video-box {
			width: 100%;
			max-width: 45.16%;
		}

		&__video {
		}
	}
	.logo {
		max-width: 81px;
	}
	.video-text {
		width: 100%;
		height: 140px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 110%;
			height: 100%;
			left: 50%;
			top: 57%;
			transform: translate(-50%, -50%);
			background: url("../img/line--main.svg") no-repeat;
			background-size: contain;
			background-position: center center;
			z-index: 10;
		}
		&__inner {
		}
		&__video {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&__text {
			width: 101%;
			height: 101%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: #fff;
			font-family: "Druk Cyr";
			font-weight: 700;
			font-size: 140px;
			line-height: 140px;
			letter-spacing: 0.08em;
			color: #000;
			text-transform: uppercase;
			text-align: center;
			mix-blend-mode: screen;
		}
	}

	.content {
		&__inner {
			padding: 103px 0;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
		}

		&__heading-box {
			width: 100%;
			max-width: 39.9%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__heading {
			max-width: 284px;
			margin-bottom: 46px;
			position: relative;
			z-index: 2;

			&::after {
				content: "";
				position: absolute;
				right: -20px;
				bottom: -33px;
				width: 114px;
				height: 150px;
				background: url("../img/leaf--content.png") no-repeat;
				background-position: center center;
				background-size: contain;
				z-index: 3;
			}
			&::before {
				content: "";
				position: absolute;
				width: 110%;
				height: 100%;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				background: url("../img/line--content.svg") no-repeat;
				background-position: center center;
				background-size: contain;
				z-index: -1;
			}
		}

		&__button {
		}

		&__list-box {
			width: 100%;
			max-width: 45.16%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-top: 36px;
		}

		&__list-item {
			position: relative;
			padding-left: 57px;
			font-size: 18px;
			line-height: 1.67;
			margin-bottom: 37px;
			&:nth-last-child(1) {
				margin-bottom: 0;
			}

			&::before {
				content: "";
				position: absolute;
				width: 32px;
				height: 6px;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				background: url("../img/line--list.svg") no-repeat;
				background-position: center center;
				background-size: contain;
			}
		}
	}
	.heading {
		font-family: "Druk Cyr";
		font-weight: 400;
		font-size: 70px;
		line-height: 1.269;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		text-align: center;
	}
	.button {
		font-weight: 500;
		font-size: 15px;
		line-height: 1.2;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #fff;
		background: #295941;
		border-radius: 2px;
		border: 1px solid transparent;
		transition: background 350ms ease-in-out, color 350ms ease-in-out,
			border 350ms ease-in-out;
		padding: 24px 32px;
		white-space: nowrap;

		&:hover {
			background: #fff;
			border: 1px solid #295941;
			color: #295941;
		}
	}
	.diary {
		&__inner {
			padding: 103px 0 100px 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__img-box {
			width: 100%;
			max-width: 39.9%;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				width: 83.03%;
				height: 93.91%;
				top: 21px;
				left: 37px;
				background: rgba(0, 0, 0, 0.3);
				filter: blur(41px);
				z-index: -1;
			}
		}

		&__img {
			position: relative;
			left: 37px;
			width: 80.4%;
		}

		&__text-box {
			width: 100%;
			max-width: 45.16%;
		}

		&__heading {
			position: relative;
			display: inline-block;
			margin-bottom: 48px;

			&::after {
				content: "";
				position: absolute;
				bottom: -19px;
				right: -94px;
				width: 151px;
				height: 172px;
				background: url("../img/leaf--diary.png") no-repeat;
				background-position: center center;
				background-size: contain;
			}
		}

		&__text {
			max-width: 62.5%;
			font-size: 16px;
			line-height: 1.75;
			letter-spacing: 0.05em;
		}
	}
	.go {
		&__inner {
			padding: 100px 0 200px 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
		}

		&__top {
			margin-bottom: 12px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__top-text {
			font-size: 18px;
			line-height: 1.2222;
			color: #636363;

			margin-right: 72px;
			&:nth-last-child(1) {
				margin-right: 0;
			}
		}

		&__heading {
			font-family: "Druk Cyr";
			font-weight: 700;
			font-size: 140px;
			line-height: 1;
			letter-spacing: 0.08em;
			text-transform: uppercase;
			background: url("../img/go-bg.png") no-repeat;
			background-position: center center;
			background-size: 100% 100%;
			background-clip: text;
			color: transparent;
			margin-bottom: 69px;
			position: relative;
			text-align: center;

			&::after {
				content: "";
				position: absolute;
				left: 50%;
				bottom: -39px;
				transform: translateX(-50%);
				height: 1px;
				width: 129px;
				background: #e8e8e8;
			}
		}

		&__text {
			font-size: 14px;
			line-height: 1.2;
			color: #636363;
			text-align: center;
			margin-bottom: 11px;
		}

		&__subheading {
			text-align: center;
			font-family: "Druk Cyr";
			font-weight: 400;
			font-size: 50px;
			line-height: 1.26;
			letter-spacing: 0.08em;
			margin-bottom: 41px;
		}

		&__button {
		}
	}
	.modal-form {
		&::-webkit-scrollbar {
		}
		&--open {
		}
		&--close {
		}
		&__bg {
		}
		&__content-box {
			max-width: 746px;
			padding: 56px 20px;
			&::-webkit-scrollbar {
			}
		}
		&__close-button {
		}
		&__close-button-inner {
		}
		&__close-button-item {
			&:nth-child(1) {
			}
			&:nth-child(2) {
			}
		}
		&__heading {
			font-size: 52px;
			margin-bottom: 10px;
			max-width: 634px;
			&::before{
				top: 25px;
				width: 529px;
				height: 108px;
			}
		}
		&__subheading {
			font-size: 32px;
			max-width: 634px;
			margin-bottom: 32px;
		}
		&__text {
			font-size: 16px;
			margin-bottom: 18px;
		}
		&__decor {
			max-width: 114px;
			margin-bottom: 41px;
		}
		&__form {
			max-width: 332px;
		}
	}
	.music-button {
		&--active {
			.music-button__item {
				&:nth-child(1) {
				}
				&:nth-child(2) {
				}
				&:nth-child(3) {
				}
				&:nth-child(4) {
				}
				&:nth-child(5) {
				}
				&:nth-child(6) {
				}
			}
		}
		&__content {
		}
		&__item {
			&:nth-child(2) {
			}
			&:nth-child(4) {
			}
			&:nth-child(5) {
			}
			&:nth-last-child(1) {
			}
		}
	}
	.form {
		&__label-box {
			border: 1px solid #c0c0c0;
			border-radius: 2px;
			margin-bottom: 25px;
			padding: 18px;
		}
		&__label-name {
			transform: translate(14px, -50%);
			padding: 0 4px;
			font-size: 12px;
		}
		&__input {
			font-size: 15px;
			&::placeholder {
			}
		}
		&__custom-select {
			margin-right: 8px;
		}
		&__button {
			margin-top: 15px;
		}
	}
	.custom-select {
		&__select {
			margin-right: 16px;
		}
		&__head {
			padding-right: 10px;
			&::after {
				width: 6px;
				height: 4px;
			}
			&--active{
				&::after{
				}
			}
		}
		&__item {
		}
		&__img {
			width: 22px;
			height: 16px;
			filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.15));
			border-radius: 2px;
		}
		&__body {
			
			left: -10px;
			padding: 10px;
			border-radius: 2px;
			border: 1px solid #c0c0c0;
			.custom-select__item {
				margin-bottom: 5px;
				&:last-child {
				}
			}
			&--active{
			}
		}
		&__shortcode {
			max-width: 41px;
			font-size: 15px;
		}
	}
	@keyframes audioButtonItem {
		0% {
			height: 6px;
		}
		100% {
			height: 14px;
		}
	}
}
